@import '../fonts';
@import '../colors';

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 5rem 3rem;
	background: #90d4c5;

	@media screen and (max-width: 768px) {
		padding: 5rem 1rem;
	}

	* {
		color: #2c7566;
	}

	&__logo {
		margin-bottom: 40px;
	}

	&__nav {
		margin-bottom: 70px;
		width: 100%;
		max-width: 400px;

		ul {
			display: flex;
			align-items: center;
			justify-content: space-between;

			li {
				flex: 1;
				list-style: none;
				display: flex;
				justify-content: center;

				a {
					text-decoration: none;
					font-family: $barlow;
					font-weight: 600;
					opacity: 0.7;
					padding: 10px;

					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}

	&__social {
		ul {
			display: flex;
			align-items: center;
			justify-content: center;
			li {
				list-style: none;

				img {
					cursor: pointer;
					padding: 15px;
					opacity: 0.7;

					&:hover {
						opacity: 1;
					}
				}
			}
		}
	}
}
